<template>
<div class="">

    <div class="container cart-header">
        <div class="row mt-5 text-center">
            <div class="col">
                <h3>Your Cart</h3>
            </div>
        </div>
    </div>

    <div class="container">
				<div class="row row-sparse">
					<div class="col-lg-8 padding-right-lg">
						<div class="cart-table-container">
							<table class="table table-cart">
								<thead>
									<tr>
										<th class="product-col">Product</th>
										<th class="price-col">Price</th>
										<th class="qty-col">Qty</th>
										<th>Subtotal</th>
                                        <th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr class="product-row" v-for="cart in carts" :key="cart.rowId">
										<td class="product-col">
											<figure class="product-image-container">
												<a href="product.html" class="product-image">
													<img :src="'storage/'+cart.options.image" alt="product">
												</a>
											</figure>
											<h3 class="product-title">
												<a href="#">{{ cart.name }}</a>
											</h3>
										</td>
										<td>{{ cart.price|formatNumber }}</td>
										<td>

											<div class="input-group  bootstrap-touchspin bootstrap-touchspin-injected">
                        <input class="vertical-quantity form-control" type="text" :value="cart.qty">
                        <span class="input-group-btn-vertical">
                          <button class="btn btn-outline bootstrap-touchspin-up icon-up-dir" type="button" @click="updateItem(cart.rowId,1)"></button>
                          <button class="btn btn-outline bootstrap-touchspin-down icon-down-dir" type="button" @click="updateItem(cart.rowId,-1)"></button>
                        </span>
                      </div>
										
										</td>
										<td>{{ cart.price * cart.qty |formatNumber }}</td>
                                        <td><a href="#" title="Remove product" class="btn-remove icon-cancel" @click="deleteItem(cart.rowId)"><span class="sr-only">Remove</span></a></td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<td colspan="4" class="clearfix">
											<div class="float-left">
												<a href="/store" class="btn btn-outline-secondary">Lanjut Belanja</a>
											</div><!-- End .float-left -->

											<div class="float-right">
												<!-- <a href="#" class="btn btn-outline-secondary btn-clear-cart">Clear Shopping Cart</a> -->
											</div><!-- End .float-right -->
										</td>
									</tr>
								</tfoot>
							</table>
						</div><!-- End .cart-table-container -->
					</div><!-- End .col-lg-8 -->
          <div class="col-lg-4">
						<div class="cart-summary">
							<h3>Informasi Biaya</h3>

							<table class="table table-totals">
								<tbody>
									<tr v-for="cart in carts" :key="cart.rowId">
										<td>{{cart.name}}</td>
										<td>{{ cart.qty * cart.price |formatNumber }}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td>Total Harga</td>
										<td>{{ total |formatNumber }}</td>
									</tr>
								</tfoot>
							</table>

							<div class="checkout-methods">
								<a href="/shipment" class="btn btn-block btn-sm btn-primary">Pembayaran</a>
							</div><!-- End .checkout-methods -->
						</div><!-- End .cart-summary -->
					</div><!-- End .col-lg-4 -->
				</div><!-- End .row -->
			</div><!-- End .container -->

		

    <!-- Checkout -->
    <!-- <section class="checkout">
        <div class="container">
          <div class="alert alert-danger" role="alert" v-if="Object.keys(errors).length > 0">
                        <ul>
                            <li v-for="(index,error) in errors" :key="index">{{ errors[error][0] }}</li>
                        </ul>
                    </div>
            <div class="row justify-content-between" style="margin-bottom: 100px;">
                <div class="col-lg-6">
                    
                    <h4 class="mb-4">Your Items</h4>
                    <div class="row mb-4" v-for="cart in carts" :key="cart.rowId">
                        <div class="col-2">
                            <img style="object-fit:cover" class="img-fluid" :src="'storage/'+cart.options.image">
                        </div>
                        <div class="col-4">
                            <h5 class="m-0">{{ cart.name }}</h5>
                            <p class="m-0">Size :{{ cart.options.size }}</p>
                            <p class="m-0" style="color:#B7B7B7;">{{ cart.price|formatNumber }}</p>
                        </div>
                        <div class="col-4">
                            <button type="button" @click="updateItem(cart.rowId,-1)" class="btn btn-sm"
                                style="background-color: #EAEAEF; color: white;"><i
                                    class="fas fa-minus-circle"></i></button>
                            <span class="mx-2">{{ cart.qty }}</span>
                            <button type="button" @click="updateItem(cart.rowId,1)" class="btn btn-sm btn-success"
                                style="color: white;"><i class="fas fa-plus-circle"></i></button>
                        </div>
                        <div class="col-2 text-right">
                            <button type="button" class="btn btn-sm btn-danger" @click="deleteItem(cart.rowId)"
                                style="color: white;"><i class="fas fa-times-circle"></i></button>
                        </div>
                    </div>
        </div>

        <div class="col-lg-5">
          <div class="card rounded-0 checkout-detail">
            <div class="card-body">
              <h5 class="card-title">Informasi Biaya</h5>
              <div class="row mb-3" v-for="cart in carts" :key="cart.rowId">
                <div class="col">
                  <h6 class="m-0">{{ cart.name }}</h6>
                  <small style="color: #B7B7B7;">Size :{{ cart.options.size }}</small><br>
                  <small style="color: #B7B7B7;">{{ cart.qty }} Items</small>
                </div>
                <div class="col d-flex justify-content-end">
                  <h6 class="m-0 align-self-center text-success">{{ cart.qty * cart.price |formatNumber }}</h6>
                </div>
              </div>

              <hr>

              <div class="row mb-3">
                <div class="col">
                  <h6 class="m-0">Total Harga</h6>
                </div>
                <div class="col d-flex justify-content-end">
                  <h6 class="m-0 align-self-center text-primary">{{ total |formatNumber }}</h6>
                </div>
              </div>

            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <button type="button" class="btn btn-block"
                style="background-color: #EAEAEF; color: #ADADAD;">Cancel</button>
            </div>
            <div class="col">
              <a href="/shipment"><button type="button" class="btn btn-primary btn-block text-white">Lanjut Pembayaran</button></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section> -->
  <!-- Akhir Checkout -->


  <!-- Modal -->
  <div class="modal fade checkout-modal-success" id="checkoutModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img src="img/api/cart/sukses_checkout.png" class="mb-5">
          <h3>Checkout Berhasil</h3>
          <p>Anda akan mendapatkan barang anda <br> dalam beberapa hari</p>
          <button type="button" class="btn mt-3" style="background-color: #EAEAEF; color: #ADADAD;"
            data-dismiss="modal">Home</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
    methods:{
        async getCarts(){
          let url = '/api/carts';
          let response = await axios.get(url);
          let data = response.data;
          this.carts = data;
        },
      async deleteItem(rowId){
        try {
          let url="/api/cart/:row-id/delete";
          url = url.replace(':row-id', rowId);
          let response = await axios.delete(url,{rowId:rowId});
          Vue.delete(this.carts,rowId);
          this.getCarts();
          $('.cart-count').text(Object.keys(this.carts).length);  
          console.log(this.carts);
          if(Object.keys(this.carts).length == 0){
            location.reload();
          }
          // location.reload();
        } catch (error) {
          console.log(error)
        }
      },
      async updateItem(rowId,qty){
        try {
          let tmpQty;
          let curQty;
          let url="/api/cart/:row-id/update";
          url = url.replace(':row-id', rowId);
          let response = await axios.post(url,{rowId:rowId,qty:qty});
          curQty = this.carts[rowId].qty;
          tmpQty = parseInt(curQty) + parseInt(qty);
          Vue.set(this.carts[rowId],'qty',tmpQty);
          this.getCarts();
          console.log(this.carts);
        } catch (error) {
          console.log(error)
          this.errors = error.response.data.errors;
        }
      },
      totalKeranjang(){
        $('.cart-count').text(this.carts.length);  
      }
    },
    mounted(){
      this.getCarts();
      $('.cart-count').text(this.carts.length);
    },
    props:{
    },
    watch:{
    },
    computed:{
      total(){
        if(this.carts != null){
          console.log(this.carts);
        	let x= Object.keys(this.carts).map(t=>{ return this.carts[t].subtotal });
        	return x.reduce((sum,val)=>sum + val,0);}
      }
    },
    data() {
      return {
        carts:{},
        provinces:[],
        origin_details:[],
        destination_details:[],
        cities:[],
        province_id: '',
        city_id:'',
        courier_id:'',
        couriers:['jne','pos','tiki',],
        costs:[],
	      ongkir:{},
	      alamat:'',
	      destination:{},
	      code:'',
        service:'',
        errors:[]
      }
    }
}
</script>

<style>
.el-select {
      display: block;
      width:100%;
}
</style>