<template>

    <div>
        <div class="row row-sparse">
					<div class="col-lg-8 padding-right-lg">
                                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm">
						<ul class="checkout-steps">
							<li>
								<h2 class="step-title">Shipping Address</h2>
								<form action="#">
									<div class="form-group required-field">
										<label>Nama </label>
                                        <el-form-item prop="name">
                                            <el-input v-model="ruleForm.name"></el-input>
                                        </el-form-item>
									</div><!-- End .form-group -->

                                    <div class="form-group required-field">
										<label>No Telp </label>
											<el-form-item prop="phone">
                                                <el-input v-model="ruleForm.phone"></el-input>
                                            </el-form-item>
									</div><!-- End .form-group -->
                                     <div class="form-group">
                                        <label for="">Provinsi</label>
                                            <el-form-item prop="province_id">
                                            <el-select v-model="ruleForm.province_id" filterable placeholder="Select"
                                                v-on:change="getCities">
                                                <el-option v-for="province in provinces" :key="province.province_id"
                                                    :label="province.province" :value="province.province_id">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </div>
                                    <div class="form-group">
                                        <label for="country">Kota</label>
                                            <el-form-item prop="city_id">
                                                <el-select v-model="ruleForm.city_id" filterable placeholder="Select">
                                                    <el-option v-for="city in cities" no-match-text="Data tidak di temukan"
                                                        :key="city.city_id" :label="city.type+' '+city.city_name" :value="city.city_id">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                    </div>
									<div class="form-group required-field">
										<label>Alamat</label>
										<el-form-item prop="alamat">
                                            <el-input type="textarea" v-model="ruleForm.alamat"></el-input>
                                        </el-form-item>
									</div><!-- End .form-group -->
                    
									 <div class="form-group">
                                    <label>Kurir</label>
                                        <el-form-item prop="courier_id">
                                            <el-select v-model="ruleForm.courier_id" @change="postCost" filterable
                                                placeholder="Select">
                                                <el-option v-for="courier in couriers" no-match-text="Data tidak di temukan"
                                                    :key="courier" :label="courier" :value="courier">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </div>
								</form>
							</li>
                            <ul>
                                <li>
										 <table v-if="costs != '' " class="table table-step-shipping">
                                            <thead>
                                                <th>Service</th>
                                                <th>Description</th>
                                                <th>Value</th>
                                                <th>Etd</th>
                                                <th>Action</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(value , key) in costs.costs" :key="key">
                                                    <td>{{ value.service }}</td>
                                                    <td>{{ value.description }}</td>
                                                    <td>{{ value.cost[0].value }}</td>
                                                    <td>{{ value.cost[0].etd }}</td>
                                                    <td><input type="radio" v-model="ongkir" :value="value"></td>
                                                </tr>
                                            </tbody>
									</table>
                                </li>
                                <button class="btn btn-primary" @click="checkout('ruleForm')">Checkout</button>
                            </ul>
						</ul>
                                </el-form>
					</div><!-- End .col-lg-8 -->

					<div class="col-lg-4">
						<div class="order-summary">
							<h3>Summary</h3>

							<h4>
								<a data-toggle="collapse" href="#order-cart-section" class="collapsed" role="button" aria-expanded="false" aria-controls="order-cart-section">{{ Object.keys(carts).length }} products in Cart</a>
							</h4>

							<div class="collapse" id="order-cart-section">
								<table class="table table-mini-cart">
									<tbody>
										<tr v-for="item in carts" :key="item.id">
											<td class="product-col">
												<figure class="product-image-container">
													<a href="product.html" class="product-image">
														<img src="/images/wb1.jpeg" alt="product">
													</a>
												</figure>
												<div>
													<h2 class="product-title">
														<a href="product.html">{{item.name}}</a>
													</h2>

													<span class="product-qty">{{item.qty}}</span>
												</div>
											</td>
											<td class="price-col">{{item.qty * item.price | formatNumber}}</td>
										</tr>
                                         <tr>
                                            <td class="left">
                                                <strong>Subtotal</strong>
                                            </td>
                                            <td class="right">{{ subTotal | formatNumber  }}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>{{ courier_id.toUpperCase() }}
                                                    {{ Object.keys(ongkir).length > 0 ? ongkir.service : '' }}</strong>
                                            </td>
                                            <td class="right">{{ ongkos | formatNumber }}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="right">
                                                <strong>
                                                    {{ total | formatNumber }}</strong>
                                            </td>
                                        </tr>
									</tbody>	
								</table>
							</div><!-- End #order-cart-section -->
						</div><!-- End .order-summary -->
					</div><!-- End .col-lg-4 -->
				</div><!-- End .row -->

        <div class="alert alert-danger" role="alert" v-if="Object.keys(errors).length > 0">
            <ul>
                <li v-for="(index,error) in errors" :key="index">{{ errors[error][0] }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        transaction: {
            type: Array,
            default () {
                return []
            }
        }
    },
    data() {
        return {
            counter: 0,
            transaction_id: '',
            snap_token: '',
            carts: {},
            provinces: [],
            origin_details: [],
            destination_details: [],
            cities: [],
            province_id: '',
            city_id: '',
            courier_id: '',
            couriers: ['jne', 'pos', 'tiki', ],
            costs: [],
            ongkir: {},

            destination: {},
            code: '',
            service: '',
            errors: [],
            ruleForm: {
                name: '',
                phone: '',
                alamat: '',
                province_id: '',
                'city_id': ''
            },
            rules: {
                alamat: [{
                    required: true,
                    message: 'Alamat tidak boleh kosong',
                    trigger: 'change'
                }],
                phone: [{
                    required: true,
                    message: 'No Telepon tidak boleh kosong',
                    trigger: 'change'
                }],
                name: [{
                    required: true,
                    message: 'Nama Tidak boleh kosong',
                    trigger: 'change'
                }],
                province_id: [{
                    required: true,
                    message: 'Mohon Pilih Provinsi',
                    trigger: 'change'
                }],
                city_id: [{
                    required: true,
                    message: 'Mohon Pilih Kota',
                    trigger: 'change'
                }],
                courier_id: [{
                    required: true,
                    message: 'Mohon Pilih Kurir Pengiriman',
                    trigger: 'change'
                }],
            }
        }
    },
    mounted() {
        this.getCarts()
        this.getProvince()
    },
    methods: {
         checkout(formName) {
            event.preventDefault()
            this.$refs[formName].validate((valid) => {
                if (valid) {
                     try {
                let url = '/checkout';
                axios.post(url, {
                    'name': this.ruleForm.name,
                    'phone': this.ruleForm.phone,
                    'alamat': this.ruleForm.alamat,
                    'ongkir': this.ongkir,
                    'destination_details': this.destination_details,
                    'origin_details': this.origin_details,
                    'courier_id': this.ruleForm.courier_id
                }).then((response)=>{
                     window.location.href = 'payment/' + response.data
                })
               
            } catch (error) {
                this.errors = error.response.data.errors;
            }
                } else {
                    console.log('error submit!!');
                    return false;
                }
            })
        },
        async payment() {
            try {
                let url = '/payment';
                let response = await axios.post(url, {
                    'id': this.transaction_id,
                    'snap_token': this.snap_token,
                    'name': this.ruleForm.name,
                    'phone': this.ruleForm.phone,
                    'alamat': this.ruleForm.alamat,
                    'ongkir': this.ongkir,
                    'destination_details': this.destination_details,
                    'origin_details': this.origin_details,
                    'courier_id': this.ruleForm.courier_id
                });

            } catch (error) {
                this.errors = error.response.data.errors;
            }
        },
        async getCarts() {
            let url = '/api/carts';
            let response = await axios.get(url);
            let data = response.data;
            this.carts = data;
        },
        async getProvince() {
            let options = {
                "method": "GET",
                "url": "http://api.rajaongkir.com/starter/province",
                "headers": {
                    "key": "dd2516212caf72dda78a1dd61c9e742b"
                }
            };
            let response = await axios.get("/api/provinces");
            this.provinces = response.data.rajaongkir.results;
        },
        async getCities() {
            let url = '/api/cities'
            let response = await axios.get(url, {
                params: {
                    id: this.ruleForm.province_id
                }
            })
            this.cities = response.data.rajaongkir.results;
        },
        async postCost() {
            let url = '/api/cost';
            let response = await axios.post(url, {
                origin: 22,
                destination: this.ruleForm.city_id,
                weight: 1000,
                courier: this.ruleForm.courier_id
            });
            this.costs = response.data.rajaongkir.results[0];
            this.destination = response.data.rajaongkir.destination_details;
            this.code = response.data.rajaongkir.results[0].code;
            this.origin_details = response.data.rajaongkir.origin_details;
            this.destination_details = response.data.rajaongkir.destination_details;
        }
    },
    computed: {
        ongkos() {
            return Object.keys(this.ongkir).length > 0 ? this.ongkir.cost[0].value : 0;
        },
        subTotal() {
            if (this.carts != null) {
                var x = Object.keys(this.carts).map(t => {
                    return this.carts[t].subtotal
                });
                return x.reduce((sum, val) => sum + val, 0);
            }
        },
        total() {
            let ongkir = Object.keys(this.ongkir).length > 0 ? this.ongkir.cost[0].value : 0;
            return this.subTotal + ongkir;
        }
    },
} 
</script>

<style scoped>
.el-form-item__content {
    margin-left: 0px !important;
    color: blue;
}
</style>