<template>
    <div>
        <div v-if=status_msg :class="{'alert-success': status, 'alert-danger': !status }" class="alert" role="alert">
          {{ status_msg }}
        </div>

        <div class="form-group row">
            <label for="" class="col-3">Caption</label>
            <div class="col-6">
                <textarea class="form-control" v-model="caption"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-3">Gambar</label>
            <div class="col-6">
                <el-upload class="upload-demo"
                    action="" 
                    :auto-upload="false"
                    :on-preview="handlePreview" :on-change="updateImage" :on-remove="handleRemove" :file-list="imageList" list-type="picture">
                    <el-button size="small" type="primary">Click to upload</el-button>
                    <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
                </el-upload>
            </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            Gambar Utama
          </div>
          <div class="col-6">
            <img :src="mainImage.url" alt="" class="rounded mx-auto" style="height:200px;width:200px">
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-2"><button class="btn btn-primary btn-sm" @click="createLookbook">Simpan <i class="fa fa-save"></i></button></div>
          <div class="col-2"></div>
        </div>
    </div>
</template>
<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
    export default {
        data() {
            return {
                imageList: [],
                caption:'',
                mainImage:{},
                status_msg:'',
                status:''
            };
        },
        props:{
                prefill_lookbooks:{
                  type:Object,
                  default:function(){
                    return {};
                  }
                },
                prefill_image_list:{
                  type:Array,
                  default:function(){
                    return [];
                  }
                },
                prefill_main_image:{
                  type:String,
                  default:null
                }
        },
        mounted(){
          this.prefillLookbooks();
        },
        methods: {
          showNotification(message){
            this.status_msg = message;
            setTimeout(()=>{
              this.statuts_msg = ''
            },3000)
          },
          prefillLookbooks(){
            if(this.prefill_lookbooks.hasOwnProperty('id')){
              this.caption = this.prefill_lookbooks.caption;
              let tmp =[];
                this.prefill_lookbooks.detail_lookbook.forEach(val=>{
                  this.createFileFromUrl('/storage/'+val.image,val.image).then(response=>{
                        tmp.push({'name':val.image,url:'/storage/'+val.image,raw:response});
                    });
                });
                this.imageList = tmp;
                this.mainImage = {'url':'/storage/'+this.prefill_lookbooks.image,'name':this.prefill_lookbooks.image, raw:this.createFileFromUrl('/storage/'+this.prefill_lookbooks.image,this.prefill_lookbooks.image)}

                let image = new Image();
                image.src = '/storage/'+this.prefill_lookbooks.image;       
            }
          },
          async createFileFromUrl(url,name){
            try {
                let response = await fetch(url);
                let blob = await response.blob();
                let metadata = {
                        type: 'image/jpeg'
                      };
                let file = new File([blob], name, metadata);
                return file;
            } catch (error) {
                console.log(error)
            }
          },
            createLookbook(){
              if(!this.validateForm()){
                return false;
              }
              let formData = new FormData();
              
              formData.append('caption',this.caption);
              formData.append('mainImage',this.mainImage.raw);
              $.each(this.imageList, function(key, image) {
                formData.append(`images[${key}]`, image.raw);
              });
              if(this.prefill_lookbooks.hasOwnProperty('id')){
                axios.post('/lookbook/'+this.prefill_lookbooks.id, formData, {headers: {'Content-Type': 'multipart/form-data'}});
                window.location.href = '/lookbook';
              }else{
                let url='/lookbook';
                axios.post(url, formData, {headers: {'Content-Type': 'multipart/form-data'}});
                window.location.href = '/lookbook';
              }
            },
            updateImage(file){
              this.imageList.push(file);
            },
            validateForm(){
              if(!this.caption){
                this.status = false;
                this.showNotification('Caption Tidak boleh Kosong');
                return false;
              }
              if(this.imageList.length < 1){
                this.status = false;
                this.showNotification('Gambar tidak boleh kosong');
                return false;
              }
              if(!this.mainImage.hasOwnProperty('name')){
                this.status = false;
                this.showNotification('Pilih Gambar Utama');
                return false;
              }
              return true;
            },
            handleRemove(file, fileList) {
              let index = this.imageList.findIndex(element=>{
                return element.uid == file.uid
              });
              if(this.mainImage.uid == file.uid){
                this.mainImage = {};
              }
              this.imageList.splice(index,1);
            },
            handlePreview(file) {
              this.mainImage = file;
            }
        }
    }
</script>

<style>

</style>