<template>
    <div class="col-12 m-3 demo-image__lazy">
        <figure class="figure">
                <el-image v-for="url in urls" :key="url" :src="'/storage/'+url" lazy></el-image>
        </figure>
    </div>
</template>

<script>
export default {
    data() {
      return {
        urls: []
      }
    },
    props:{
        images:{
            type:Array,
            default:[]
        }
    },
    methods:{
        getImages(){
            let tmp = []; 
            this.images.forEach(element => {
                tmp.push(element.image)
            });
            this.urls = tmp;
        }
    },
    mounted(){
        this.getImages()
    }
}
</script>

<style>

</style>