
.product-default.inner-quickview figure{
    height: 200px;
}

.product-default.inner-quickview figure img{
    max-width: 100%;
    min-height: 100%;
    width: auto;
    /* object-fit: cover; */
    /* width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%; */
}

.owl-dot.owl-detail{
    flex: 0;
}

.owl-dot.owl-detail img{
    height:120px;
    width:120px;
}

/* .product-default{
    height: 370px;
}  */

@media(min-width:1024px){
    .product-default.inner-quickview figure{
        /* height: 300px; */
    }
}

@media(min-width:800px) and (max-width:1000px){
    .detail .product-details{
        position: relative;
    }
}