<template>
  <div>
      <div class="form-group row">
          <div class="col-3">Tahun</div>
          <div class="col">
              <select id="dob" v-model="selected_year" @change="getData" class="form-control">
  <option value="0">Year</option>
  <option v-for="year in years" :key="year">{{ year }}</option>
</select>
          </div>
      </div>
      <line-chart :chart-data="chartData"></line-chart>
  </div>
</template>

<script>
import LineChart from './chart/LineChart.js';
export default {
    components:{
        LineChart
    },
    data(){
        return {
            chartData:null,
            selected_year:'2020'
        }
    },
    mounted(){
        this.getData();
    },
    computed : {
    years () {
      const year = new Date().getFullYear()
      return Array.from({length: year - 2018}, (value, index) => 2019 + index)
    }
    },
    methods:{
        async getData(year){
            let url = 'transaction/report/year';
            let response = await axios.get(url, {params: {
      year: this.selected_year
            }});
            this.chartData = {
            labels:  response.data['label'],
            datasets: [
                {
                label: 'Status Transaksi',
                borderColor: ['green'],
                data: response.data['data']
                }
            ]
            }
        }
    }
}
</script>

<style>

</style>