<template>
  <div>
      <h3>Status Transaksi</h3>
    <bar-chart :chart-data="datacollection"></bar-chart>
  </div>
</template>

<script>
  import BarChart from './chart/BarChart.js'

  export default {
    components: {
      BarChart
    },
    data () {
      return {
        datacollection: null
      }
    },
    mounted () {
      this.getData()
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: [this.getRandomInt(), this.getRandomInt()],
          datasets: [
            {
              label: 'Data One',
              backgroundColor: '#f87979',
              data: [this.getRandomInt(), this.getRandomInt()]
            }, {
              label: 'Data One',
              backgroundColor: '#f87979',
              data: [this.getRandomInt(), this.getRandomInt()]
            }
          ]
        }
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      },
      async getData(){
          let url='transaction/report/status';
          let response = await axios.get(url);
          this.datacollection = {
          labels:  response.data['label'],
          datasets: [
            {
              label: 'Status Transaksi',
              backgroundColor: ['grey','yellow','green','red'],
              data: response.data['data']
            }
          ]
        }
      }
    }
  }
</script>
