<template>
<div>
    <span v-if="jumlah > 0" class="cart-count badge-circle mr-4">{{ jumlah }}</span>
</div>
</template>
<script>
export default {
    data() {
        return{
            jumlah : 0,
            }
    },
    methods:{
        async getCarts(){
          let url = '/api/carts';
          let response = await axios.get(url);
          let data = response.data;
          this.jumlah = data.length;
        },
    },
    mounted(){
        this.getCarts();
    }
}
</script>