<template>
  <div>
      <el-upload class="upload-demo"
                    action="" 
                    :auto-upload="false"
                    :on-preview="handlePreview" :on-change="updateImage" :on-remove="handleRemove" :file-list="imageList" list-type="picture">
                    <el-button size="small" type="primary">Click to upload</el-button>
                    <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
                </el-upload>
  </div>
</template>

<script>
export default {
    props:{
        fileList:{
            type:Array,
            default(){
                return [];
            }
        }
    },
    beforeMount(){
        this.prefillImage()
    },
    // mounted(){
    //     this.createFileFromUrl('/storage/','test').then(response=>console.log(response));
    // },
    data() {
            return {
                imageList: [],
                status_msg:'',
                status:''
            };
        },
    methods:{
        prefillImage(){
                let tmp =[];
                this.fileList.forEach(val=>{
                    this.createFileFromUrl('/storage/'+val.name,val.name).then(response=>{
                        tmp.push({'name':val.name,url:'/storage/'+val.name,raw:response});
                    })
                });
                this.imageList = tmp;
        },
        updateImage(file){
            this.imageList.push(file);
        },
        handleRemove(file, fileList) {
              let index = this.imageList.findIndex(element=>{
                return element.uid == file.uid
              });
              this.imageList.splice(index,1);
        },
        handlePreview(file) {
            this.mainImage = file;
        },
       async createFileFromUrl(url,name){
        try {
            let response = await fetch(url);
            let blob = await response.blob();
            let metadata = {
                    type: 'image/jpeg'
                  };
            let file = new File([blob], name, metadata);
            return file;
        } catch (error) {
            console.log(error)
        }
        },
    },
    watch:{
        imageList:function(val){
            this.$emit('upload',this.imageList)
        }
    }
}
</script>

<style>

</style>