<template>
  <div>
      
          <button class="btn btn-info btn-xs" @click="addInput">Add</button>
      <div class="row mt-5"  v-for="(input,index) in inputs" :key="input.id">
          <!-- <input type="file" name="files[]" id="" class=""> -->
          <upload-image :name="name" :prefill_url="input.image"></upload-image>
          <button class="btn btn-danger btn-xs" @click="removeInput(index)">Remove</button>
      </div>
  </div>
</template>

<script>
import UploadImage from "./UploadImage";
export default {
    components:{
        'upload-image':UploadImage
    },
    mounted(){
        let images = JSON.parse(this.images);
        let tmp=[];
        images.map(val=>{
            tmp.push({id:Math.random().toString(),image:'/storage/'+val.image})
        })
        this.inputs = tmp;
    },
    props:{
        images:{
            type:String,
            default:""
        }
    },
    data(){
        return {
            name:"files[]",
            inputs:[{id:Math.random().toString()}]
        }
    },
    methods:{
        addInput(e){
            e.preventDefault()
            this.inputs.push({id:Math.random().toString()})
        },
        removeInput(index){
            event.preventDefault();
            this.inputs.splice(index,1);
        }
    }
}
</script>

<style>

</style>