<template>
    <div>
        <input type="file" :name="name" id=""  @change="onFileChange">
        <div id="preview">
            <img v-if="url" :src="url" />
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.prefillImg();
        },
        props: {
            name: {
                type: String,
                default: "image"
            },
            prefill_url: {
                type: String,
                default:""
            }
        },
        data() {
            return {
            url: null,
            test:null
            }
        },
        methods: {
            prefillImg(){
                if(this.prefill_url != ''){
                    this.url = this.prefill_url
                }
            },
            onFileChange(e) {
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);
            },
            async createFileFromUrl(url,name){
                try {
                    let response = await fetch(url);
                    let blob = await response.blob();
                    let metadata = {
                            type: 'image/jpeg'
                        };
                    let file = new File([blob], name, metadata);
                    return file;
                } catch (error) {
                    console.log(error)
                }
            },
        }
    }
</script>

<style scoped>
    #preview {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    #preview img {
        max-width: 25%;
        max-height: 30%;
    }
</style>