<template>
    <div class="card">
        <div class="card-header">
            Tambah Product
        </div>
        <div class="card-body">
            <div class="alert alert-danger" role="alert" v-if="Object.keys(errors).length > 0">
                <ul>
                    <li v-for="(index,error) in errors" :key="index">{{ errors[error][0] }}</li>
                </ul>
            </div>
            <div class="form-row form-group">
                <label for="" class="col-3">Nama Barang</label>
                <div class="col">
                    <input type="text" v-model="form.name" name="name" id="" class="form-control">
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <label for="" class="col-3">Harga</label>
                <div class="col-3">
                    <input type="number" min="0" name="price" v-model="form.price" id="" class="form-control">
                    <div class="invalid-feedback">

                    </div>
                </div>
                <label for="" class="ml-3 mr-2">Stok</label>
                <div class="col-1">
                    <input type="number" min="1" name="qty" v-model="form.qty" id="" class="form-control">
                    <div class="invalid-feedback">

                    </div>
                </div>
                <label for="" class="ml-3 mr-2">Diskon</label>
                <div class="col-2 input-group">
                    <input type="number" min="0" max="100" name="discount" v-model="form.discount" id=""
                        class="form-control">
                     <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                    <div class="invalid-feedback">

                    </div>
            </div>
            <div class="form-row">
                <label for="" class="col-3">Kategori</label>
                <div class="col ml-4 form-check">
                    <div v-for="category in categories" :key="category.id">
                        <input type="checkbox" name="" id="" v-model="form.category_id" :value="category.id" />{{ category.name }}
                    </div>
                </div>
            </div>
            <!-- <div class="form-row">
                <label for="" class="col-3">Size</label>
                <div class="form-check">
                    <div class="form-group row" v-for="(size,index) in form.input_size" :key="index">
                        <label for="" class="col-3">{{ size.name }}</label>
                        <input type="number" min=0 name="size[]" class="form-control col-3" id="" v-model="form.input_size[index].qty"/>
                    </div>
                </div>
            </div> -->
            <div class="form-row mb-3">
                <label for="" class="col-3">Gambar</label>
                <div class="col">
                    <multiple-image-upload @upload="upload" :file-list="form.imageLists"></multiple-image-upload>
                </div>
            </div>
            <div class="form-row mb-3">
                <label for="" class="col-3">Deskripsi</label>
                <div class="col">
                    <textarea name="" v-model="form.description" id="" cols="30" rows="10"
                        class="form-control"></textarea>
                </div>
            </div>
            <div class="form-row">
                <label for="" class="col-3">Status</label>
                <div class="col-3">
                    <select name="" id="" v-model="form.status" class="form-control">
                        <option value="Y">Aktif</option>
                        <option value="N">Tidak Aktif</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-sm btn-info float-right" value="Simpan" v-on:click="saveProduct">
        </div>
    </div>

</template>

<script>
import { parse } from 'path';
    const axios = require('axios');
    export default {
        mounted() {
            this.getCategories()
            this.getSizes()
        },
        props:{
        prefillProduct:{
            type:Object,
            default:function(){
                return {};
            }
        }  
        },
        data() {
            return {
                form: {
                    id:"",
                    name: "",
                    price: 0,
                    qty: 0,
                    status:'',
                    discount: 0,
                    category_id: [],
                    // input_size : {
                    //     qty:[],
                    //     size_id:[]
                    // },
                    images: [],
                    imageLists: [],
                    description: ""
                },
                categories: [],
                sizes: [],
                errors:[]
            }
        },
        computed:{
            qty(){
                let qty = 0;
                let sizes = this.form.input_size;
                // sizes.forEach(value=>{
                //     qty += parseInt(value.qty);
                // })
                $.each(sizes,function(index,value){
                    qty += parseInt(value.qty)
                })
                return qty;
            }
        },
        watch:{
            qty(newValue,oldValue){
                this.form.qty = newValue
            }
        },
        beforeMount(){
           if(Object.keys(this.prefillProduct).length > 0){
               this.fillProduct()
           }
        },
        methods: {
            fillProduct(){
                let tmp = [];
                let tmp_sizes = [];
                // set prefill kategori
                this.prefillProduct.category.forEach(element => {
                    tmp.push(element.id);
                });

                // set prefill size
                // this.prefillProduct.size.forEach(element => {
                //     tmp_sizes.push({name:element.name,size_id:element.id,qty:element.pivot.qty});
                // });

                this.form.id = this.prefillProduct.id
                this.form.name = this.prefillProduct.name
                this.form.price = this.prefillProduct.price
                this.form.qty = this.prefillProduct.qty
                this.form.discount = this.prefillProduct.discount
                this.form.imageLists = this.prefillProduct.product_image
                this.form.description = this.prefillProduct.description
                this.form.status = this.prefillProduct.status
                this.form.category_id = tmp
                this.form.input_size = tmp_sizes
               
            },
            upload(images) {
                this.form.imageLists = images
            },
            async getCategories() {
                try {
                    let response = await axios.get('/api/categories');
                    this.categories = response.data
                } catch (error) {
                    console.log(error)
                }
            },
            async getSizes() {
                try {
                    if(Object.keys(this.prefillProduct).length == 0){
                        let response = await axios.get('/api/sizes');
                        this.sizes = response.data;
                        let tmp = [];
                        response.data.forEach(value=>{
                            tmp.push({name:value.name,qty:0,size_id:value.id})
                        })
                    this.form.input_size = tmp;
                    }else{                    
                        return false;
                    }
                } catch (error) {
                    console.log(error);
                }
            },
            saveProduct(){
                // function create
                let formData = new FormData();
                formData.append('name',this.form.name)
                formData.append('price',this.form.price)
                formData.append('qty',this.form.qty)
                formData.append('status',this.form.status)
                formData.append('discount',this.form.discount)
                formData.append('description',this.form.description)
                formData.append('category',JSON.stringify(this.form.category_id))
                // formData.append('sizes',JSON.stringify(this.form.input_size))
                if(this.form.imageLists.length == 0){
                        formData.append('images',JSON.stringify([]))
                    }else{
                        $.each(this.form.imageLists, function(key, image) {
                        formData.append(`images[${key}]`, image.raw);
                    });
                    }
                    
                if(!this.prefillProduct.hasOwnProperty('id')){
                    // function save
                    let url='/product';
                    axios.post(url,formData,{headers: {'Content-Type': 'multipart/form-data'}}).then((response)=>{         
                    window.location.href='/product';
                    }).catch((error)=>{
                        this.errors = error.response.data.errors;
                    });
                }else{
                    // function update
                    let url='/product/'+this.form.id;
                    formData.append('_method', 'put') // add method put
                    axios.post(url,formData,{headers: {'Content-Type': 'multipart/form-data'}}).then((response)=>{ 
                         window.location.href='/product';    
                    }).catch((error)=>{
                        this.errors = error.response.data.errors;
                    });
                }
            }
        }
    }

</script>

<style>

</style>
