<template>

    <div>
        <main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav mb-md-4">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					</ol>
				</div><!-- End .container -->
			</nav>

			<div class="container mb-3">
				<div class="row row-sparse">
					<div class="col-lg-9 main-content">
						<div class="category-banner">
							<img class="slide-bg" src="/images/banner-1.jpg" alt="banner" width="0" height="0">
                            <div class="category-slide-content">
								<h2 class="m-b-3">Tas Trend Terbaru</h2>
								<h3 class="text-uppercase m-b-4">Diskon hingga 30% </h3>

								<h5 class="text-uppercase d-inline-block mb-0">Starting at<span class="coupon-sale-text"><sup>Rp</sup>15.000</span></h5>
								<a href="#" class="btn btn-dark btn-xl" role="button">Shop Now</a>
							</div>
						</div><!-- End .category-slide -->

						<nav class="toolbox">
							<div class="toolbox-left">
								<div class="toolbox-item toolbox-sort">
									<label>Sort By:</label>

									<div class="select-custom">
										 <select @change="getProducts" name="" id="" v-model="sort" class="form-control">
                                            <option value="null" disabled hidden>Sortir</option>
                                            <option value="created_at,desc">Terbaru</option>
                                            <option value="price,asc">Termurah</option>
                                            <option value="price,desc">Termahal</option>
                                        </select>
									</div><!-- End .select-custom -->

									
								</div><!-- End .toolbox-item -->
							</div><!-- End .toolbox-left -->

							<div class="toolbox-right">
								<div class="toolbox-item toolbox-show">
									<label>Show:</label>

									<div class="select-custom">
										<select name="count" class="form-control">
											<option value="20">20</option>
											<option value="30">30</option>
											<option value="40">40</option>
											<option value="50">50</option>
										</select>
									</div><!-- End .select-custom -->
								</div><!-- End .toolbox-item -->
							</div><!-- End .toolbox-right -->
						</nav>
                        <transition name="fade">
                
                    <div class="col-12" v-if="loading" key="1">
                   
                    </div>
                
                <div v-else key="2">
                    <div class="row justify-content-around justify-content-sm-start">      
							<div :class="'col-6 col-sm-4 col-md-3 col-xl-5col my-2 no-gutters'+[(products.data.length%2 == 1) && (index == products.data.length-1)?' mr-auto ml-2':'']" style="max-width:48%;" v-for="(product,index) in products.data" :key="product.id">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a :href="'/product/'+product.id+'/view'">
											<img 
                                            v-lazyload
                                            :key="'/storage/'+product.product_image[0].name"
                                            :data-src="'/storage/'+product.product_image[0].name"
                                            src="https://via.placeholder.com/440x560?text=Img+product"
                                            >
										</a>
                                        <a href="#" class="btn-quickview" title="Quick View">Quick View</a> 
										<div class="label-group" v-if="product.discount > 0">
											<span class="product-label label-sale">{{ product.discount }}%</span>
										</div>
									</figure>

									<div class="product-details pt-auto">
                                        <div class="category-wrap">
											<div class="category-list">
												<a href="#" class="product-category">{{ product.category[0].name }}</a>
											</div>
										</div>
										<h2 class="product-title">
											<a :href="'/product/'+product.id+'/view'">{{ product.name }}</a>
										</h2>
										<div class="ratings-container">
											<div class="product-ratings">
												<span class="ratings" style="width:100%"></span><!-- End .ratings -->
												<span class="tooltiptext tooltip-top"></span>
											</div><!-- End .product-ratings -->
										</div><!-- End .product-container -->
										<div class="price-box">
                                            <div v-if="product.discount > 0">
                                                <span class="old-price" style="margin-bottom:7px;">{{ product.price | currency }}</span>
                                                <span class="product-price" style="color:red;">{{ product | discountPrice | currency }}</span>
                                            </div>
                                            <div v-else>
                                                <span class="product-price">{{ product | discountPrice | currency }}</span>
                                            </div>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>
							
						</div>

                        <div v-if="products.data.length == 0">
                            <h3 class="text-center mt-2">Produk Tidak Ada</h3>
                        </div>
                </div>
                        </transition>

						<nav class="toolbox toolbox-pagination">
							<div class="toolbox-item toolbox-show">
								
							</div><!-- End .toolbox-item -->

							<pagination :data="products" @pagination-change-page="getResults"></pagination>
						</nav>
					</div><!-- End .main-content -->

					<div class="sidebar-overlay"></div>
					<div class="sidebar-toggle"><i class="fas fa-sliders-h"></i></div>
					<aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
						<div class="sidebar-wrapper">
							<div class="widget">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">Categories</a>
								</h3>

								<div class="collapse show" id="widget-body-2">
									<div class="widget-body">
										<ul class="cat-list">
											 <li v-for="category in categories" :key="category.id">
                                                <input @change="getProducts" type="checkbox" v-model="input_category"
                                                    :value="category.id" name="" class="mr-1" id=""> {{ category.name }}
                                            </li>
										</ul>
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->
		

						</div><!-- End .sidebar-wrapper -->
					</aside><!-- End .col-lg-3 -->

				</div><!-- End .row -->
			</div><!-- End .container -->
		</main><!-- End .main -->

       
        <!-- <section id="footer" style="bottom:0px">
            <div class="container">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h6>zineta</h6>
                        <p style="color:white">
                            description
                        </p>
                        <h6>Bantuan</h6>
                        <ul class="list-unstyled list-inline social">
                            <li class="list-inline-item"><a href="https://api.whatsapp.com/send?phone=+6281297394435"
                                    target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h6>Quick links</h6>
                        <ul class="list-unstyled quick-links">
                            <li><a href="http://zineta.id"><i class="fas fa-circle"></i>Home</a></li>
                            <li><a href="http://zineta.id/about"><i class="fas fa-circle"></i>About</a></li>
                            <li><a href="http://zineta.id/lookbook"><i class="fas fa-circle"></i>Lookbook</a></li>
                            <li><a href="http://shop.zineta.id"><i class="fas fa-circle"></i>Shop</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h6>Follow Us</h6>
                        <ul class="list-unstyled list-inline social">
                            <li class="list-inline-item"><a href="https://www.instagram.com/zineta.official/"
                                    target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.facebook.com/zineta.official"><i
                                        class="fab fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p class="h6">&copy; All right Reversed.<a class="text-green ml-2" href="https://www.zineta.id"
                                target="_blank">zineta</a></p>
                    </div>
                </div>
            </div>
        </section> -->
    </div>
</template>

<script>
$(document).ready(function () {
    $("#sidebar").mCustomScrollbar({
        theme: "minimal"
    });

    $('#dismiss, .overlay').on('click', function () {
        $('#sidebar').removeClass('active');
        $('.overlay').removeClass('active');
    });

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').addClass('active');
        $('.overlay').addClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });
});

import { Loading } from 'element-ui';
export default {
    data(){
        return {
            products:{},
            categories:[],
            sort:null,
            loading: true,
            input_category:[]
        }
    },
    created() {
        this.getResults();
    },
    mounted(){
        this.getCategories()
    },
    updated(){
        
    },
    methods:{
        async getResults(page = 1) {
            this.loading = true;
			let response = await axios.get('/api/products?page='+page,{params:{
                sort:this.sort,
                input_category:JSON.stringify(this.input_category)
            }});
            setTimeout(()=>{
                this.products = response.data;
                this.loading = false;
                $('body,html').animate({
                    scrollTop: 0
                }, 400);
            },500);
            
		},
        async getProducts(){
            this.loading = true;
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
            let response = await axios.get('/api/products',{params:{
                sort:this.sort,
                input_category:JSON.stringify(this.input_category)
            }});
            this.products = response.data;
            this.loading = false;
        },
        async getCategories(){
            let response = await axios.get('/api/categories');
            this.categories = response.data;
        },
    },
    filters:{
        discountPrice(product){
            return product.price - (product.price * product.discount / 100);
        }
    }
}
</script>

<style scoped>

</style>

