<template>
<div>
    <div class="container mt-5">
    <nav>
        <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item"><a href="#">Category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Single Product</li>
        </ol>
    </nav>
</div>

<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <figure class="figure">
                    <div class="image-viewer">
                        <div class="main-image">
                            <img src="/images/mg1.png"
                                class="figure-img img-fluid">
                        </div>
                        <!-- <figcaption class="figure-caption product-thumbnail-container d-flex justify-content-between"> -->
                        <div class="secondary-images">
                            <div class="secondary-image active">

                                <img style="width:80px;" class="thumb" src="/images/mg1.png">

                            </div>
                            <div class="secondary-image">

                                <img style="width:80px;" class="thumb"
                                    src="/images/mg2.png">

                            </div>

                            <div class="secondary-image">
                                <img style="width:80px;" class="thumb" src="/images/mg3.png">
                            </div>

                            <div class="secondary-image">
                                <img style="width:80px;" class="thumb"
                                    src="">
                            </div>
                        </div>
                        <!-- </figcaption> -->
                    </div>
                </figure>
            </div>

            <div class="col-lg-4">
                <h3>Kemeja</h3>
                <p class="text-muted">IDR 200.000</p>
                <button type="button" class="btn btn-sm" style="background-color: #EAEAEF; color: white;"><i
                        class="fas fa-minus-circle"></i></button>
                <span class="mx-2"><input type="text" class="form-control" style="width:50px" min="1" name="" id=""></span>
                <button type="button" class="btn btn-sm btn-success" style="color: white;"><i
                        class="fas fa-plus-circle"></i></button>

                <div class="btn-product">
                    <a href="" class="btn btn-dark text-white">Add to Cart</a>
                    <a href="" class="btn" style="background-color: #EAEAEF; color: #ADADAD;">Add to Wishlist</a>
                </div>

                <div class="designed-by">
                    <div class="row">
                        <div class="col-3">
                            <h5>Size</h5>
                        </div>
                        <div class="col-3">
                            <ul class="select-list">
                                <li class="select-item">
                                    <input class="select-radio" type="radio" name="region" id="region-1" checked>
                                    <label class="select-square" for="region-1">
                                        <span>S</span>
                                    </label>
                                </li>
                                <li class="select-item">
                                    <input class="select-radio" type="radio" name="region" id="region-2">
                                    <label class="select-square" for="region-2">
                                        <span>M</span>
                                    </label>
                                </li>
                                <li class="select-item">
                                    <input class="select-radio" type="radio" name="region" id="region-3">
                                    <label class="select-square" for="region-3">
                                        <span>L</span>
                                    </label>
                                </li>
                                <li class="select-item">
                                    <input class="select-radio" type="radio" name="region" id="region-4">
                                    <label class="select-square" for="region-4">
                                        <span>XL</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product Description & Review -->
<section class="product-description p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                            aria-controls="description" aria-selected="true">Product Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                            aria-controls="review" aria-selected="false">Reviews (20)</a>
                    </li>
                </ul>
                <div class="tab-content p-3" id="myTabContent">
                    <div class="tab-pane fade show active product-review" id="description" role="tabpanel"
                        aria-labelledby="description-tab">
                        <p>Payday is finally here and you’ve got some extra cash to help you stock up your summer
                            wardrobe. Not sure where to start? ASOS Stylist Beccy Goldsworthy is here with the best of
                            what’s
                            new, from 80s-inspired tracksuits to some seriously fresh trainers. Check out her picks
                            below
                            and watch the video for more.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec felis metus. Vivamus eu urna
                            tempor, pretium erat quis, volutpat eros. Cras consectetur dolor at venenatis feugiat. Fusce
                            nunc risus, finibus eget augue ac, ornare gravida turpis. Morbi consequat, nisi sit amet
                            viverra
                            feugiat, lacus mauris ornare erat, at pharetra odio dolor id elit. Pellentesque eu aliquet
                            ex.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="tab-pane fade product-review" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="row">
                            <div class="col-1 d-none d-md-block">
                                <img src="img/single/review/1.png">
                            </div>
                            <div class="col">
                                <h5>Joe Mackenzie</h5>
                                <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-none d-md-block">
                                <img src="img/single/review/2.png">
                            </div>
                            <div class="col">
                                <h5>Brian Smith</h5>
                                <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-none d-md-block">
                                <img src="img/single/review/1.png">
                            </div>
                            <div class="col">
                                <h5>Joe Mackenzie</h5>
                                <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-none d-md-block">
                                <img src="img/single/review/2.png">
                            </div>
                            <div class="col">
                                <h5>Brian Smith</h5>
                                <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-none d-md-block">
                                <img src="img/single/review/1.png">
                            </div>
                            <div class="col">
                                <h5>Joe Mackenzie</h5>
                                <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-none d-md-block">
                                <img src="img/single/review/2.png">
                            </div>
                            <div class="col">
                                <h5>Brian Smith</h5>
                                <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Similar Product -->
<section class="similar-product">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h3>Similar Products</h3>
                <p>Pakaian pelengkap produk di atas</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <figure class="figure">
                    <img src=""
                        class="figure-img img-fluid">
                    <figcaption class="figure-caption">
                        <div class="row">
                            <div class="col">
                                <h4>Hatty Bomb</h4>
                                <p>Match 20%</p>
                            </div>
                            <div class="col align-items-center d-flex justify-content-end">
                                <p style="font-size: 18px;">IDR. 209.000</p>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure">
                    <img src=""
                        class="figure-img img-fluid">
                    <figcaption class="figure-caption">
                        <div class="row">
                            <div class="col">
                                <h4>White Pure</h4>
                                <p>Match 20%</p>
                            </div>
                            <div class="col align-items-center d-flex justify-content-end">
                                <p style="font-size: 18px;">IDR. 209.000</p>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure">
                    <img src=""
                        class="figure-img img-fluid">
                    <figcaption class="figure-caption">
                        <div class="row">
                            <div class="col">
                                <h4>Hatty Bomb</h4>
                                <p>Match 20%</p>
                            </div>
                            <div class="col align-items-center d-flex justify-content-end">
                                <p style="font-size: 18px;">IDR. 209.000</p>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
</div>
</template>

<script>
$('.secondary-image').click(function(){
    var prevImages = $(this).prevAll().length;  
    if(prevImages > 0){
        $('.lightbox-controls-previous').show();
    }else{
        $('.lightbox-controls-previous').hide();
    }
    if(prevImages == (numImgs - 1)){
        $('.lightbox-controls-next').hide();
    }else{
        $('.lightbox-controls-next').show();
    }
});

$('.thumb').click(function(event){
  let imageViewer = new ImageViewer('.image-viewer');
  clickedImage = $(this);
  imageViewer.setMainImage(event)
  imageViewer.setLightboxImage(event)
})

$(document).ready(()=>{
  $('div.secondary-image.active').find('img').trigger('click');
  console.log($('div.secondary-image.active'))
})

$('.lightbox-controls-next').click(function(){
  $(clickedImage).closest('.secondary-image').next().find('img').trigger('click');
})

$('.lightbox-controls-previous').click(function(){
  $(clickedImage).closest('.secondary-image').prev().find('img').trigger('click');
})

class ImageViewer {
  constructor(selector) {
    var clickedImage ;
    this.selector = selector;
    $(this.mainImage).click(() => this.showLightbox(event));
    $(this.lightboxClose).click(() => this.hideLightbox(event));
   
  }
  
  get secondaryImageSelector() {
    return '.secondary-image';
  }

  get mainImageSelector() {
    return '.main-image';
  }

  get lightboxImageSelector() {
    return '.lightbox';
  }

  get lightBoxControlsNext() {
    return '.lightbox-controls-next';
  }

  get lightboxClose() {
    return '.lightbox-controls-close';
  }

  get secondaryImages() {
    var secondaryImages = $(this.selector).find(this.secondaryImageSelector).find('img');
    return secondaryImages;
  }

  get mainImage() {
    var mainImage = $(this.selector).find(this.mainImageSelector);
    return mainImage;
  }

  get lightboxImage() {
    var lightboxImage = $(this.lightboxImageSelector);
    return lightboxImage;
  }

  get nextLightBoxControlsImage() {
    var nextImage = $(this.lightBoxControlsNext);
    return nextImage;
  }

  // get NextImage() {
  //   var curentImage = $(this).("#lightbox").attr('src');
  //   console.log(currentImage);
  // }

  setNextImage(event) {
    // $('div.secondary-image.active').next().find('img').trigger('click');
    // console.log($(event.target))
    $(event.target).closest('.secondary-image').next().find('img').trigger('click');
    // this.secondaryImages.trigger('click');
    // $(event.target).closest('.secondary-image').next().find('img').trigger('click');
  }

  setClickedImage(event) {
      
  }

  setLightboxImage(event) {
    var src = this.getEventSrc(event);
    this.setSrc(this.lightboxImage, src);
  }

  setMainImage(event) {
    var src = this.getEventSrc(event);
    $(event.target).parent().addClass('active').siblings().removeClass('active');
    this.setSrc(this.mainImage, src);
  }

  getSrc(node) {
    var image = $(node).find('img');
  }

  setSrc(node, src) {
    var image = $(node).find('img')[0];
    image.src = src;
  }

  getEventSrc(event) {
    return event.target.src;
  }

  showLightbox(event) {
    this.setLightboxImage(event);
    $(this.lightboxImageSelector).addClass('show');
  }

  hideLightbox() {
    $(this.lightboxImageSelector).removeClass('show');
  }}


new ImageViewer('.image-viewer');


export default {
    
}
</script>
