<template>
    <div class="card">
        <div class="card-header">
            Tambah Product
        </div>
        <div class="card-body">
            <div class="alert alert-danger" role="alert" v-if="Object.keys(errors).length > 0">
                <ul>
                    <li v-for="(index,error) in errors" :key="index">{{ errors[error][0] }}</li>
                </ul>
            </div>
            <div class="form-row form-group">
                <label for="" class="col-3">Site Name</label>
                <div class="col">
                    <input type="text" v-model="form.site_name" name="name" id="" class="form-control">
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <label for="" class="col-3">Phone</label>
                <div class="col">
                    <input type="text" v-model="form.site_name" name="name" id="" class="form-control">
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <label for="" class="col-3">Address</label>
                <div class="col">
                    <input type="text" v-model="form.site_name" name="name" id="" class="form-control">
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <label for="" class="col-3">Description</label>
                <div class="col">
                    <input type="text" v-model="form.site_name" name="name" id="" class="form-control">
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-row mb-3">
                <label for="" class="col-3">Background image</label>
                <div class="col">
                    <multiple-image-upload @upload="upload" :file-list="form.background_image"></multiple-image-upload>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-sm btn-info float-right" value="Update" v-on:click="updateSite">
        </div>
    </div>

</template>

<script>
export default {
    beforeMount(){
           if(Object.keys(this.prefillValue).length > 0){
               this.fillProduct()
           }
        },
props:{
    prefillValue:{
        type:Array,
        default:[]
    }
},
data(){
    return {
        form:{
            site_name:'',
            address:'',
            description:'',
            phone:'',
            background_image:'',
            carousel_site:[]
        },
        errors:[]
    }
},
methods:{
    async updateSite(){
        let url = '/site/update';
        let formData = new FormData();
                formData.append('site_name',this.form.site_name)
                formData.append('phone',this.form.phone)
                formData.append('description',this.form.description)
                formData.append('status',this.form.status)
                formData.append('background_image',this.form.background_image.raw)
                if(this.form.carousel_site.length == 0){
                        formData.append('images',JSON.stringify([]))
                    }else{
                        $.each(this.form.carousel_site, function(key, image) {
                        formData.append(`images[${key}]`, image.raw);
                    });
                    }
        formData.append('_method', 'put') // add method put
                    axios.post(url,formData,{headers: {'Content-Type': 'multipart/form-data'}}).then((response)=>{ 
                         window.location.href='/';    
                    }).catch((error)=>{
                        this.errors = error.response.data.errors;
                    });

    },
    fillValue(){
        this.form.site_name =  this.prefillValue.site_name
        this.form.phone =  this.prefillValue.phone
        this.form.address =  this.prefillValue.address
        this.form.description =  this.prefillValue.description
        this.form.background_image =  this.prefillValue.background_image
        this.form.carousel_site =  this.prefillValue.carousel_site
    }
}
}
</script>

<style>

</style>